<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="icon" href="/img/UTN_logo_negro.png" type="image/png">
    <title>ACCIONES FACTURAS REGISTRADAS</title>
</head>
<body>
    <p style="display: none;"><%= secretaria %></p>
                <div class="flex justify-center items-center py-4 shadow-md" style="background-image: linear-gradient(to right, #127cc1, #127cc1);">
                    <div class="text-center">
                        <h1 class="text-md font-bold mb-1 text-white">Aceptar o Rechazar Facturas Cargadas</h1>
                        <h1 class="text-lg font-bold mb-1 text-white"><strong><%= nombre %></strong></h1>
                        <h2 class="text-lg font-bold mb-4 text-white"><strong>Secretaria: <%= nombreSecretaria %></strong></h2>
                    </div>
                    <div class="absolute top-0 right-0 m-4">
                        <img src="/img/UTN_logo_negro.png" alt="Imagen" class="h-16 w-16 object-cover">
                    </div>
                </div>
                <% if (login) { %>
                    <% if(secretaria == 1){ %>
                <div class="flex min-h-screen">
                    <!-- Botón para desplegar la sidebar en los celulares -->
                    <button id="sidebarToggle" class="block md:hidden text-white py-2 px-4" style="background-image: linear-gradient(to bottom, #127cc1, #127cc1);">
                        <span class="material-icons">menu</span>
                    </button>
                    
                    <!-- Sidebar -->
                    <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #127cc1);">
                        <ul class="py-4">
                            <li>
                                <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                                <a href="#" class="block py-2 px-4 text-white hover-links flex justify-between items-center" id="toggleFacturas">
                                    <span>Facturas</span>
                                    <span id="arrowIcon">></span>
                                </a>
                                <ul class="pl-4" id="submenuFacturas" style="display: none;">
                                    <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Carga de Facturas</a></li>
                                    <li><a href="/facturas-activas" class="block py-2 px-4 text-white hover-links">Facturas Activas</a></li>
                                </ul>
                            </li>
                            <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                            <li><a href="/analiticas" class="block py-2 px-4 text-white hover-links">Aprobar/Rechazar Facturas</a></li>
                            <li><a href="/fondos-categorias" class="block py-2 px-4 text-white hover-links">Cargar Fondos</a></li>
                            <li><a href="/fondos-disponibles" class="block py-2 px-4 text-white hover-links">Fondos Disponibles</a></li>
                            <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                    <% }else{ %>
                        <div class="flex flex-col min-h-screen">
                            <!-- Encabezados -->
                            <p style="display: none;"><%= secretaria %></p>
                            
                            <!-- Contenedor principal -->
                            <div class="flex min-h-screen">
                                <!-- Botón para desplegar la sidebar en los celulares -->
                                <button id="sidebarToggle" class="block md:hidden bg-blue-700 text-white py-2 px-4" style="background-image: #127cc1;">
                                    <span class="material-icons">menu</span>
                                </button>
                                
                                <!-- Sidebar -->
                                <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #FFFFFF);">
                                    <ul class="py-4">
                                        <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                                        <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Facturas</a></li>
                                        <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                                        <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
                                    </ul>
                                </nav>
                            <% } %>
<div class="container container-table">
    <a href="/" class="btn btn-outline-primary mt-4" id="volver"><i class="bx bxs-chevron-left bx-md"></i></a>
    <!-- Sección para mostrar información -->
        <div class="mb-3 mt-2">
            <input type="text" class="form-control" id="filtroAnaliticas" placeholder="Buscar facturas en proceso...">
        </div>
            <div class="table-responsive">
    <table class="table table-bordered table-striped text-center mt-4 table-small">
        <thead>
            <tr class="bgc-tr text-white">
                <th scope="col" style="display: none;">ID</th>
                <th scope="col">Fecha de Carga</th>
                <th scope="col">Emisor de la Factura</th>
                <th scope="col">Categoría</th>
                <th scope="col">Monto</th>
                <!-- <th scope="col">Estado</th> -->
                <th scope="col">Personal</th>
                <th scope="col">Secretaria</th>
                <th scope="col">Destino</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="facturasTableBody">
            <!-- Iterar sobre las facturas -->
            <% facturas.sort((a, b) => new Date(b.fecha_carga) - new Date(a.fecha_carga)).forEach(function(factura) { %>
                <tr>
                    <td style="display: none;"><%= factura.id %></td>
                    <td><%= factura.fecha_formateada %></td>
                    <td class="maxspace"><a href="/descargar-archivo/<%= factura.id %>"><%= factura.nombre_factura %></a></td>
                    <td><%= factura.nombre_categoria %></td>
                    <td class="monto"><%= factura.monto %></td>
                    <!-- <td><%= factura.estado %></td> -->
                    <td><%= factura.nombre_usuario %></td>
                    <td><%= factura.nombre_secretaria %></td>
                    <td><%= factura.destino %></td>
                    <td>
                        <a href="/descargar-archivo/<%= factura.id %>" class="btn btn-outline-info btnDescargarFactura" data-id="<%= factura.id %>">Descargar</a>
                        <a href="#" class="btn btn-outline-info btn-accion btnAccionFactura" data-id="<%= factura.id %>" data-nombre="<%= factura.nombre_factura %>" data-monto="<%= factura.monto %>" data-bs-toggle="modal" data-bs-target="#modalAccion">Acción</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</div>
<%} else { %>
    <div class="flex justify-center items-center h-screen">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4"><strong><%= nombre %></strong></h1>
            <a href="login" class="block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Ir a Inicio</a>
        </div>
    </div>
<% } %>
<!-- Modal para acción -->
<div class="modal fade" id="modalAccion" tabindex="-1" aria-labelledby="modalAccionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAccionLabel">Acción sobre factura seleccionada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Qué acción desea realizar sobre la factura seleccionada?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="/aceptar-factura/" class="btn btn-success" id="btnAceptar">Aceptar</a>
          <a href="/rechazar-factura/" class="btn btn-danger" id="btnRechazar">Rechazar</a>
        </div>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
    function cargarFacturas() {
        $.ajax({
            url: '/api/facturas',
            method: 'GET',
            success: function(data) {
                // Limpiar el cuerpo de la tabla
                data.sort((a, b) => new Date(b.fecha_carga) - new Date(a.fecha_carga));
                $('#facturasTableBody').empty();

                // Agregar nuevas filas a la tabla
                data.forEach(function(factura) {
                    $('#facturasTableBody').append(`
                        <tr>
                            <td style="display: none;">${factura.id}</td>
                            <td>${factura.fecha_formateada}</td>
                            <td class="maxspace"><a href="/descargar-archivo/${factura.id}">${factura.nombre_factura}</a></td>
                            <td>${factura.nombre_categoria}</td>
                            <td class="monto">${formatMonto(parseFloat(factura.monto))}</td> <!-- Formateo del monto -->
                            <td>${factura.nombre_usuario}</td>
                            <td>${factura.nombre_secretaria}</td>
                            <td>${factura.destino}</td>
                            <td>
                                <a href="/descargar-archivo/${factura.id}" class="btn btn-outline-info btnDescargarFactura" data-id="${factura.id}">Descargar</a>
                                <a href="#" class="btn btn-outline-info btn-accion btnAccionFactura" data-id="${factura.id}" data-nombre="${factura.nombre_factura}" data-monto="${factura.monto}" data-bs-toggle="modal" data-bs-target="#modalAccion">Acción</a>
                            </td>
                        </tr>
                    `);
                });
            },
            error: function() {
                console.error('Error al cargar las facturas');
            }
        });
    }
    function formatMonto(monto) {
    return monto.toLocaleString('en-US', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
    });
    }
    // Cargar las facturas al cargar la página
    cargarFacturas();

    // Actualizar las facturas cada 10 segundos (puedes ajustar el intervalo según sea necesario)
    setInterval(cargarFacturas, 10000);

    // Evento delegado para manejar botones de acción en elementos dinámicos
    $('#facturasTableBody').on('click', '.btn-accion', function() {
        var facturaNombreFactura = $(this).data('nombre');
        var facturaMonto = $(this).data('monto');
        var facturaId = $(this).data('id');

        // Actualizar el texto del modal con información sobre la factura seleccionada
        $('#modalAccion .modal-body p').html('¿Qué acción desea realizar sobre la factura: <a href="/descargar-archivo/' + facturaId + '">' + facturaNombreFactura + '</a> por un monto de $' + facturaMonto);
        $('#modalAccion #btnAceptar').attr('href', '/aceptar-factura/' + facturaId);
        $('#modalAccion #btnRechazar').attr('href', '/rechazar-factura/' + facturaId);

        console.log('Factura ID:', facturaId);
    });

    // Función para filtrar facturas
    $('#filtroAnaliticas').on('input', function() {
        var valor = $(this).val().toLowerCase(); // Obtener el valor del filtro y convertirlo a minúsculas
        $('#facturasTableBody tr').filter(function() { // Filtrar las filas de la tabla
            $(this).toggle($(this).text().toLowerCase().indexOf(valor) > -1); // Mostrar u ocultar las filas según el valor del filtro
        });
    });

    // Mostrar/Ocultar sidebar en dispositivos móviles
    $('#sidebarToggle').click(function(){
        $('#sidebar').toggleClass('hidden');
    });

    // Script para cambiar entre el submenú minimizado y desplegado junto con la flecha ">" "v"
    const toggleFacturas = document.getElementById("toggleFacturas");
    const submenuFacturas = document.getElementById("submenuFacturas");
    const arrowIcon = document.getElementById("arrowIcon");

    toggleFacturas.addEventListener("click", function() {
        if (submenuFacturas.style.display === "none") {
            submenuFacturas.style.display = "block";
            arrowIcon.textContent = "v";
        } else {
            submenuFacturas.style.display = "none";
            arrowIcon.textContent = ">";
        }
    });

    // Lógica para manejar el comportamiento del sidebar
    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebar = document.getElementById('sidebar');
    let isSidebarHovered = false;

    sidebarToggle.addEventListener('click', () => {
        sidebar.classList.toggle('show');
    });

    sidebar.addEventListener('mouseenter', () => {
        isSidebarHovered = true;
    });

    sidebar.addEventListener('mouseleave', () => {
        isSidebarHovered = false;
        sidebar.classList.remove('show');
    });

    sidebarToggle.addEventListener('mouseenter', () => {
        isSidebarHovered = true;
        sidebar.classList.add('show');
    });

    sidebarToggle.addEventListener('mouseleave', () => {
        if (!isSidebarHovered) {
            sidebar.classList.remove('show');
        }
    });
});


</script>
<script src="resources/js/jsformat.js"></script>
</body>
</html>