<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>CRUD</title>
</head>
<body>
<h1>CATEGORIAS</h1>
<div class="container">
    <a href="/" id="volver" class="btn btn-outline-primary mt-4"><i class="bx bxs-chevron-left bx-md"></i></a>
    <a href="#" id="btnCrearCategoria" class="btn btn-outline-primary mt-4" data-secretaria="<%= secretaria %>"><i class="bx bxs-plus-circle bx-md"></i></a>
    <% if(login) { %>
        <p>Hola: <%= nombre %> id secretaria: <%= secretaria %> id usuario :<%= id_usuario %></p>
        <% } %>
    <table class="table table-bordered table-striped text-center mt-4">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">CATEGORIA</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach(function(categoria) { %>
            <tr>
                <td><%= categoria.nombre %></td>
                <td style="display: none;"><%= categoria.id %></td>
                <td>
                    <a href="#" class="btn btn-outline-info editar-categoria" data-id="<%= categoria.id %>">Editar</a>
                    <a href="/delete/" class="btn btn-outline-info" data-id="<%= categoria.id %>">Borrar</a>
                    <a href="#" class="btn btn-outline-info btnCargarFactura" data-id="<%= categoria.id %>">Seleccionar</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Modal Crear Categoria-->
<div class="modal fade" id="modalCrearCategoria" tabindex="-1" aria-labelledby="modalCrearCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearCategoriaLabel">Crear Nueva Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCrearCategoria" action="/crear-categorias" method="post">
                    <div class="mb-3">
                        <label for="nombreCategoria" class="form-label">Nombre de la Categoría</label>
                        <input type="text" class="form-control" id="nombreCategoria" name="nombre" required>
                        <input type="hidden" name="secretaria_id" id="inputSecretaria" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Edición -->
<div class="modal fade" id="modalEditarCategoria" tabindex="-1" aria-labelledby="modalEditarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarCategoriaLabel">Editar Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarCategoria" action="/editar-categorias" method="post">
                    <!-- Campo oculto para almacenar el ID de la categoría -->
                    <input type="hidden" name="id" id="inputCategoriaId" value="">
                    <div class="mb-3">
                        <label for="nombreCategoria" class="form-label">Nuevo Nombre de la Categoría</label>
                        <input type="text" class="form-control" id="nombreCategoria" name="nuevoNombre" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de carga de facturas -->
<div class="modal fade" id="modalCargarFactura" tabindex="-1" aria-labelledby="modalCargarFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargarFacturaLabel">Cargar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para cargar la factura -->
                <form id="formCargarFactura" action="/cargar-factura" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría</label>
                        <select name="categoria" id="categoria" class="form-select">
                            <!-- Iteración sobre las categorías disponibles -->
                            <% categorias.forEach((categoria) => { %>
                                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="monto" class="form-label">Monto</label>
                        <input type="text" id="monto" name="monto" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="pdf" class="form-label">Archivo PDF</label>
                        <input type="file" id="pdf" name="pdf" class="form-control" accept=".pdf" required>
                    </div>
                    <!-- Campos para mostrar el nombre del usuario y la fecha actual -->
                    <div class="mb-3">
                        <label for="nombreUsuario" class="form-label">Nombre del Usuario</label>
                        <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" readonly value="<%= nombre %>">
                        <input type="hidden" name="idUsuario" class="form-control" readonly value="<%= id_usuario %>">
                    </div>
                    <div class="mb-3">
                        <label for="fechaActual" class="form-label">Fecha Actual</label>
                        <input type="text" id="fechaActual" name="fechaActual" class="form-control" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Cargar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#btnCrearCategoria').click(function() {
            var secretaria = $(this).data('secretaria');
            $('#inputSecretaria').val(secretaria);
            $('#modalCrearCategoria').modal('show');
        });
    });
    $(document).ready(function() {
    $('.editar-categoria').click(function(event) {
        event.preventDefault(); // Evitar que el enlace recargue la página
        //Obtener el ID de la categoría desde el atributo data
        var categoriaId = $(this).data('id');
        //Asignar el ID de la categoría al campo oculto en el formulario de edición
        $('#inputCategoriaId').val(categoriaId);
        //Mostrar el modal de edición
        $('#modalEditarCategoria').modal('show');
    });
    });
    $(document).ready(function() {
        $('.btnCargarFactura').click(function() {
        // Obtener el ID de la categoría asociada al botón "Seleccionar" clickeado
        var categoriaId = $(this).data('id');
        // Preseleccionar la categoría en el formulario de carga de facturas
        $('#categoria').val(categoriaId);
        var fechaInput = document.getElementById('fechaActual');
        // Obtener la fecha actual como un objeto de fecha
        var fechaActual = new Date();
        // Formatear la fecha actual como una cadena en el formato deseado 
        var fechaFormateada = fechaActual.getFullYear() + '-' +
                              ('0' + (fechaActual.getMonth() + 1)).slice(-2) + '-' +
                              ('0' + fechaActual.getDate()).slice(-2) + ' ' +
                              ('0' + fechaActual.getHours()).slice(-2) + ':' +
                              ('0' + fechaActual.getMinutes()).slice(-2) + ':' +
                              ('0' + fechaActual.getSeconds()).slice(-2);

        // Asignar la fecha formateada al campo de entrada de texto
        fechaInput.value = fechaFormateada;
        $('#modalCargarFactura').modal('show');
        });
    });
    //script fecha: recontra sacado de chatgpt
    //trae la fecha al momento de cargarse el dom
    /*
    // obtener el elemento de entrada de texto de la fecha actual por su ID
    var fechaInput = document.getElementById('fechaActual');
    // obtener la fecha actual como un objeto de fecha
    var fechaActual = new Date();
    // Formatear la fecha actual como una cadena en el formato deseado 
    var fechaFormateada = fechaActual.getFullYear() + '-' +
                          ('0' + (fechaActual.getMonth() + 1)).slice(-2) + '-' +
                          ('0' + fechaActual.getDate()).slice(-2) + ' ' +
                          ('0' + fechaActual.getHours()).slice(-2) + ':' +
                          ('0' + fechaActual.getMinutes()).slice(-2) + ':' +
                          ('0' + fechaActual.getSeconds()).slice(-2);

    // Asignar la fecha formateada al campo de entrada de texto
    fechaInput.value = fechaFormateada;
    */ 
   // Esperar a que el documento esté completamente cargado
   $(document).ready(function() {
        // Mostrar el modalCrearCategoria
        $('#modalCrearCategoria').on('shown.bs.modal', function () {
            // Enfocar el input
            $('#nombreCategoria').focus();
        });
    });
</script>
</body>
</html>
