<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>FACTURAS ACEPTADAS</title>
</head>
<body>
    <style>
        tbody .fila-factura:active {
        background-color: black !important;
        }

        tbody .fila-factura:hover {
        background-color: #127cc1 !important;
        cursor: pointer;
        }
        .fila-seleccionada {
        background-color: violet; /* Color de fondo deseado para la fila seleccionada */
        }
    </style>
<h1>FACTURAS ACEPTADAS</h1>
<div class="container">
    <a href="/" class="btn btn-outline-primary mt-4" id="volver"><i class="bx bxs-chevron-left bx-md"></i></a>
    <!-- Sección para mostrar información -->
    <% if(login) { %>
        <p>Hola: <%= nombre %> id secretaria: <%= secretaria %> id usuario :<%= id_usuario %></p>
    <% } %>
    <table class="table table-bordered table-striped text-center mt-4">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">Fecha de Carga</th>
                <th scope="col">Nombre de la Factura</th>
                <th scope="col">Monto</th>
                <th scope="col">Personal</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre las facturas aprobadas-->
            <% resultados.forEach(function(factura) { %>
                <tr class="fila-factura" data-id="<%= factura.id %>">
                    <td style="display: none;"><%= factura.id %></td>
                    <td><%= factura.fecha_formateada %></td>
                    <td><%= factura.nombre_factura %></td>
                    <td><%= factura.monto %></td>
                    <td><%= factura.nombre_usuario %></td>
                    <td><%= factura.nombre_categoria %></td>
                    <td>
                        <a href="#" class="btn btn-outline-info baja-factura" data-id="<%= factura.id %>">Dar de baja</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<!-- Modal de Borrar Facturas-->
<div class="modal fade" id="modalBLFactura" tabindex="-1" aria-labelledby="modalBLFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBLFacturaLabel">Baja Lógica Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formBLFactura" action="/bl-factura" method="post">
                    <!-- Campo oculto para almacenar el ID de la factura -->
                    <input type="hidden" name="id" id="inputBLFacturaId" value=""><div class="mb-3">
                        <label for="BLFacturaWarning" class="form-label">Al confirmar se hará la bája lógica de esta factura.</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
    // Agregar controlador de eventos de clic a cada fila de la tabla
    $('.fila-factura').click(function() {
        // Obtener el ID de la factura correspondiente a la fila seleccionada
        var facturaId = $(this).data('id');
        
        // Realizar una solicitud GET al servidor para descargar el archivo
        window.location.href = '/descargar-archivo/' + facturaId;
    });
});
    $(document).ready(function() {
        $('.baja-factura').click(function(event) {
            event.stopPropagation();
            event.preventDefault(); // Evitar que el enlace recargue la página
            //Obtener el ID de la factura desde el atributo data
            var facturaId = $(this).data('id');
            //Asignar el ID de la factura al campo oculto en el formulario de edición
            $('#inputBLFacturaId').val(facturaId);
            //Mostrar el modal de borrar
            $('#modalBLFactura').modal('show');
        });
        });
    // $(document).ready(function() {
    //     var fechaInput = document.getElementById('fechaActual');
    //     // Obtener la fecha actual como un objeto de fecha
    //     var fechaActual = new Date();
    //     // Formatear la fecha actual como una cadena en el formato deseado 
    //     var fechaFormateada = fechaActual.getFullYear() + '-' +
    //                           ('0' + (fechaActual.getMonth() + 1)).slice(-2) + '-' +
    //                           ('0' + fechaActual.getDate()).slice(-2) + ' ' +
    //                           ('0' + fechaActual.getHours()).slice(-2) + ':' +
    //                           ('0' + fechaActual.getMinutes()).slice(-2) + ':' +
    //                           ('0' + fechaActual.getSeconds()).slice(-2);

    //     // Asignar la fecha formateada al campo de entrada de texto
    //     fechaInput.value = fechaFormateada;
    // });
</script>
</body>
</html>
