<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="icon" href="img/UTN_logo_negro.png" type="image/png">
    <title>FACTURAS ACEPTADAS</title>
</head>
<body>
    <!-- <style>
        tbody .fila-factura:active {
        background-color: black !important;
        }

        tbody .fila-factura:hover {
        background-color: #127cc1 !important;
        cursor: pointer;
        }
        .fila-seleccionada {
        background-color: violet; /* Color de fondo deseado para la fila seleccionada */
        }
    </style> -->
    <p style="display: none;"><%= secretaria %></p>
    <div class="flex justify-center items-center py-4 shadow-md" style="background-image: linear-gradient(to right, #127cc1, #127cc1);">
        <div class="text-center">
            <h1 class="text-md font-bold mb-1 text-white">Baja Lógica de Facturas Aceptadas</h1>
            <h1 class="text-lg font-bold mb-1 text-white"><strong><%= nombre %></strong></h1>
            <h2 class="text-lg font-bold mb-4 text-white"><strong>Secretaria: <%= nombreSecretaria %></strong></h2>
        </div>
        <div class="absolute top-0 right-0 m-4">
            <img src="img/UTN_logo_negro.png" alt="Imagen" class="h-16 w-16 object-cover">
        </div>
    </div>
    <% if (login) { %>
        <% if(secretaria == 1){ %>
    <div class="flex min-h-screen">
        <!-- Botón para desplegar la sidebar en los celulares -->
        <button id="sidebarToggle" class="block md:hidden bg-blue-700 text-white py-2 px-4">
            <span class="material-icons">menu</span>
        </button>
        
        <!-- Sidebar -->
        <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #fff);">
            <ul class="py-4">
                <li>
                    <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                    <a href="#" class="block py-2 px-4 text-white hover-links flex justify-between items-center" id="toggleFacturas">
                        <span>Facturas</span>
                        <span id="arrowIcon">></span>
                    </a>
                    <ul class="pl-4" id="submenuFacturas" style="display: none;">
                        <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Carga de Facturas</a></li>
                        <li><a href="/facturas-activas" class="block py-2 px-4 text-white hover-links">Facturas Activas</a></li>
                    </ul>
                </li>
                <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                <li><a href="/analiticas" class="block py-2 px-4 text-white hover-links">Aprobar/Rechazar Facturas</a></li>
                <li><a href="/fondos-categorias" class="block py-2 px-4 text-white hover-links">Cargar Fondos</a></li>
                <li><a href="/fondos-disponibles" class="block py-2 px-4 text-white hover-links">Fondos Disponibles</a></li>
                <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
            </ul>
        </nav>
        <% }else{ %>
            <div class="flex flex-col min-h-screen">
                <!-- Encabezados -->
                <p style="display: none;"><%= secretaria %></p>
                
                <!-- Contenedor principal -->
                <div class="flex min-h-screen">
                    <!-- Botón para desplegar la sidebar en los celulares -->
                    <button id="sidebarToggle" class="block md:hidden bg-blue-700 text-white py-2 px-4" style="background-image: #127cc1;">
                        <span class="material-icons">menu</span>
                    </button>
                    
                    <!-- Sidebar -->
                    <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #FFFFFF);">
                        <ul class="py-4">
                            <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                            <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Facturas</a></li>
                            <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                            <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                <% } %>
<div class="container">
    <a href="/" class="btn btn-outline-primary mt-4" id="volver"><i class="bx bxs-chevron-left bx-md"></i></a>
    <!-- Sección para mostrar información -->
        <div class="mb-3 mt-2">
            <input type="text" class="form-control" id="filtroFacturasActivas" placeholder="Buscar facturas activas...">
        </div>
    <table class="table table-bordered table-striped text-center mt-4">
        <thead>
            <tr class="bgc-tr text-white">
                <th scope="col">Fecha de Carga</th>
                <th scope="col">Emisor de la Factura</th>
                <th scope="col">Monto</th>
                <th scope="col">Personal</th>
                <th scope="col">Categoría</th>
                <th scope="col">Destino</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: #3789c092;">
                <td><strong>MONTO TOTAL</strong></td>
                <td></td>
                <td class="monto"><strong><%= totalGeneral %></strong></td>
                <td colspan="4"></td>
            </tr>
            <tr style="background-color: #3789c092;">
                <td><strong>MONTO TOTAL FUNDACION</strong></td>
                <td></td>
                <td class="monto"><strong><%= totalFundacion %></strong></td>
                <td colspan="4"></td>
            </tr>
            <tr style="background-color: #3789c092;">
                <td><strong>MONTO TOTAL UNIVERSIDAD</strong></td>
                <td></td>
                <td class="monto"><strong><%= totalUniversidad %></strong></td>
                <td colspan="4"></td>
            </tr>
            <!-- Iterar sobre las facturas aprobadas-->
            <% resultados.forEach(function(factura) { %>
                <tr class="fila-factura" data-id="<%= factura.id %>">
                    <td style="display: none;"><%= factura.id %></td>
                    <td><%= factura.fecha_formateada %></td>
                    <td class="maxspace"><a href="/descargar-archivo/<%= factura.id %>"><%= factura.nombre_factura %></a></td>
                    <td class="monto"><%= factura.monto %></td>
                    <td><%= factura.nombre_usuario %></td>
                    <td><%= factura.nombre_categoria %></td>
                    <td><%= factura.destino %></td>
                    <td>
                        <a href="#" class="btn btn-outline-info baja-factura" data-id="<%= factura.id %>">Dar de baja</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%} else { %>
    <div class="flex justify-center items-center h-screen">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4"><strong><%= nombre %></strong></h1>
            <a href="login" class="block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Ir a Inicio</a>
        </div>
    </div>
<% } %>
<!-- Modal de Borrar Facturas-->
<div class="modal fade" id="modalBLFactura" tabindex="-1" aria-labelledby="modalBLFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBLFacturaLabel">Baja Lógica Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formBLFactura" action="/bl-factura" method="post">
                    <!-- Campo oculto para almacenar el ID de la factura -->
                    <input type="hidden" name="id" id="inputBLFacturaId" value=""><div class="mb-3">
                        <label for="BLFacturaWarning" class="form-label">Al confirmar se hará la bája lógica de esta factura.</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
//     $(document).ready(function() {
//     // Agregar controlador de eventos de clic a cada fila de la tabla
//     $('.fila-factura').click(function() {
//         // Obtener el ID de la factura correspondiente a la fila seleccionada
//         var facturaId = $(this).data('id');
        
//         // Realizar una solicitud GET al servidor para descargar el archivo
//         window.location.href = '/descargar-archivo/' + facturaId;
//     });
// });
    $(document).ready(function() {
        $('.baja-factura').click(function(event) {
            event.stopPropagation();
            event.preventDefault(); // Evitar que el enlace recargue la página
            //Obtener el ID de la factura desde el atributo data
            var facturaId = $(this).data('id');
            //Asignar el ID de la factura al campo oculto en el formulario de edición
            $('#inputBLFacturaId').val(facturaId);
            //Mostrar el modal de borrar
            $('#modalBLFactura').modal('show');
        });
        });
    // $(document).ready(function() {
    //     var fechaInput = document.getElementById('fechaActual');
    //     // Obtener la fecha actual como un objeto de fecha
    //     var fechaActual = new Date();
    //     // Formatear la fecha actual como una cadena en el formato deseado 
    //     var fechaFormateada = fechaActual.getFullYear() + '-' +
    //                           ('0' + (fechaActual.getMonth() + 1)).slice(-2) + '-' +
    //                           ('0' + fechaActual.getDate()).slice(-2) + ' ' +
    //                           ('0' + fechaActual.getHours()).slice(-2) + ':' +
    //                           ('0' + fechaActual.getMinutes()).slice(-2) + ':' +
    //                           ('0' + fechaActual.getSeconds()).slice(-2);

    //     // Asignar la fecha formateada al campo de entrada de texto
    //     fechaInput.value = fechaFormateada;
    // });
    $(document).ready(function() {
        // Función para filtrar categorías
        $('#filtroFacturasActivas').on('input', function() {
            var valor = $(this).val().toLowerCase(); // Obtener el valor del filtro y convertirlo a minúsculas
            $('tbody tr').filter(function() { // Filtrar las filas de la tabla
                $(this).toggle($(this).text().toLowerCase().indexOf(valor) > -1); // Mostrar u ocultar las filas según el valor del filtro
            });
        });
    });
    $(document).ready(function() {
    // Función para formatear el número con comas para separar los miles
    function formatNumberWithCommas(number) {
        // Divide el número en grupos de tres dígitos, luego agrega comas entre ellos
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // Itera sobre todos los elementos que muestran montos en la tabla
    $('.monto').each(function() {
        var monto = $(this).text(); // Obtén el texto del elemento
        var montoFormateado = formatNumberWithCommas(monto); // Formatea el monto con comas
        $(this).text(montoFormateado); // Establece el texto formateado en el elemento
    });
});
$(document).ready(function(){
            $('#sidebarToggle').click(function(){
                $('#sidebar').toggleClass('hidden');
            });
        });

        //Script para cambiar entre el submenú minimizado y desplegado junto con la flecha ">" "v"
        document.addEventListener("DOMContentLoaded", function() {
            const toggleFacturas = document.getElementById("toggleFacturas");
            const submenuFacturas = document.getElementById("submenuFacturas");
            const arrowIcon = document.getElementById("arrowIcon");

            toggleFacturas.addEventListener("click", function() {
                if (submenuFacturas.style.display === "none") {
                    submenuFacturas.style.display = "block";
                    arrowIcon.textContent = "v";
                } else {
                    submenuFacturas.style.display = "none";
                    arrowIcon.textContent = ">";
                }
            });
        });
</script>
</body>
</html>
