<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="icon" href="img/UTN_logo_negro.png" type="image/png">
    <title>FACTURAS</title>
    <style>
        td {
            height: 2.95rem;
        }
    </style>
</head>
<body>
    <p style="display: none;"><%= secretaria %></p>
    <div class="flex justify-center items-center py-4 shadow-md" style="background-image: linear-gradient(to right, #127cc1, #127cc1);">
        <div class="text-center">
            <h1 class="text-md font-bold mb-1 text-white">Carga de Facturas y Revisión de Estados</h1>
            <h1 class="text-lg font-bold mb-1 text-white"><strong><%= nombre %></strong></h1>
            <h2 class="text-lg font-bold mb-4 text-white"><strong>Secretaria: <%= nombreSecretaria %></strong></h2>
        </div>
        <div class="absolute top-0 right-0 m-4">
            <img src="img/UTN_logo_negro.png" alt="Imagen" class="h-16 w-16 object-cover">
        </div>
    </div>
    <% if (login) { %>
  
        <% if(secretaria == 1){ %>
            <div class="flex min-h-screen">
                <!-- Botón para desplegar la sidebar en los celulares -->
                <button id="sidebarToggle" class="block md:hidden text-white py-2 px-4" style="background-image: linear-gradient(to bottom, #127cc1, #fff);">
                    <span class="material-icons">menu</span>
                </button>
        
        <!-- Sidebar -->
        <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #fff);">
            <ul class="py-4">
                <li>
                    <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                    <a href="#" class="block py-2 px-4 text-white hover-links flex justify-between items-center" id="toggleFacturas">
                        <span>Facturas</span>
                        <span id="arrowIcon">></span>
                    </a>
                    <ul class="pl-4" id="submenuFacturas" style="display: none;">
                        <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Carga de Facturas</a></li>
                        <li><a href="/facturas-activas" class="block py-2 px-4 text-white hover-links">Facturas Activas</a></li>
                    </ul>
                </li>
                <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                <li><a href="/analiticas" class="block py-2 px-4 text-white hover-links">Aprobar/Rechazar Facturas</a></li>
                <li><a href="/fondos-categorias" class="block py-2 px-4 text-white hover-links">Cargar Fondos</a></li>
                <li><a href="/fondos-disponibles" class="block py-2 px-4 text-white hover-links">Fondos Disponibles</a></li>
                <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
            </ul>
        </nav>
        <% }else{ %>
            <div class="flex flex-col min-h-screen">
                <!-- Encabezados -->
                <p style="display: none;"><%= secretaria %></p>
                
                <!-- Contenedor principal -->
                <div class="flex min-h-screen">
                    <!-- Botón para desplegar la sidebar en los celulares -->
                    <button id="sidebarToggle" class="block md:hidden text-white py-2 px-4" style="background-image: linear-gradient(to bottom, #127cc1, #fff);">
                        <span class="material-icons">menu</span>
                    </button>
                    
                    <!-- Sidebar -->
                    <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #FFFFFF);">
                        <ul class="py-4">
                            <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                            <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Facturas</a></li>
                            <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                            <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                <% } %>
                
<div class="container container-table">
    <a href="/" class="btn btn-outline-primary mt-4" id="volver"><i class="bx bxs-chevron-left bx-md"></i></a>
    <a href="#" class="btn btn-outline-primary mt-4 btnCargarFactura"><i class="bx bxs-plus-circle bx-md"></i></a>
    <!-- Sección para mostrar información -->
    <div class="mb-3">
        <label for="selectEstado" class="form-label">Estado de la Factura</label>
        <select name="selectEstado" id="selectEstado" class="form-select">
            <option value="">Todos</option>
            <!-- Iterar sobre los estados de factura disponibles -->
            <% estados.forEach((estado) => { %>
                <option value="<%= estado %>"><%= estado %></option>
            <% }); %>
        </select>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="filtroFactura" placeholder="Buscar factura...">
    </div>
    <table class="table table-bordered table-striped text-center mt-4 dataTable table-small" id="miTabla">
        <thead>
            <tr class="bgc-tr text-white">
                <th scope="col" style="display: none;">ID</th>
                <th scope="col">Fecha de Carga</th>
                <th scope="col">Emisor de la Factura</th>
                <th scope="col" style="display: none;">Categoría ID</th>
                <th scope="col">Monto</th>
                <th scope="col">Estado</th>
                <th scope="col">Personal</th>
                <th scope="col">Categoría</th>
                <th scope="col">Destino</th>
                <th scope="col" style="display: none;">Archivo de la Factura</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre las facturas -->
            <!-- facturas.forEach(function(factura) { -->
                <% facturas.sort((a, b) => new Date(b.fecha_carga) - new Date(a.fecha_carga)).forEach(function(factura) { %>
                <tr>
                    <td style="display: none;"><%= factura.id %></td>
                    <td><%= factura.fecha_formateada %></td>
                    <td class="maxspace"><a href="/descargar-archivo/<%= factura.id %>"><%= factura.nombre_factura %></a></td>
                    <td style="display: none;"><%= factura.categoria_id %></td>
                    <td class="monto"><%= factura.monto %></td>
                    <td><%= factura.estado %></td>
                    <td><%= factura.nombre_usuario %></td>
                    <td><%= factura.nombre_categoria %></td>
                    <td><%= factura.destino %></td>
                    <td style="display: none;"><%= factura.archivo_factura %></td>
                    <td style="display: flex; gap: 10px">
                        <% if (factura.estado.trim().toLowerCase() === 'aceptado') { %>
                            <a href="#" class="btn borrar-factura disabled btn-outline-info" data-id="<%= factura.id %>" style="height: 2.5rem;">Borrar</a>
                        <% } else { %>
                            <a href="#" class="btn btn-outline-info borrar-factura" data-id="<%= factura.id %>" style="height: 2.5rem;">Borrar</a>
                        <% } %>
                        <a href="/descargar-archivo/<%= factura.id %>" class="btn btn-outline-info btnDescargarFactura" data-id="<%= factura.id %>" style="height: 2.5rem;">Descargar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%} else { %>
    <div class="flex justify-center items-center h-screen">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4"><strong><%= nombre %></strong></h1>
            <a href="login" class="block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Ir a Inicio</a>
        </div>
    </div>
<% } %>
<!-- Modal de carga de facturas -->
<div class="modal fade" id="modalCargarFactura" tabindex="-1" aria-labelledby="modalCargarFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargarFacturaLabel">Cargar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para cargar la factura -->
                <form id="formCargarFactura" action="/cargar-factura" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría</label>
                        <select name="categoria" id="categoria" class="form-select">
                            <!-- Iteración sobre las categorías disponibles -->
                            <% categorias.forEach((categoria) => { %>
                                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="monto" class="form-label">Monto</label>
                        <input type="number" step="any" id="monto" name="monto" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="pdf" class="form-label">Archivo PDF</label>
                        <input type="file" id="pdf" name="pdf" class="form-control" accept=".pdf" required>
                    </div>
                    <div class="mb-3">
                        <label for="destino" class="form-label">Destino</label>
                        <select name="destino" id="destino" class="form-select" required>
                            <option value="universidad">Universidad</option>
                            <option value="fundación">Fundación</option>
                        </select>
                    </div>
                    <!-- Campos para mostrar el nombre del usuario y la fecha actual -->
                    <div class="mb-3">
                        <label for="nombreUsuario" class="form-label">Nombre del Usuario</label>
                        <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" readonly value="<%= nombre %>">
                        <input type="hidden" name="idUsuario" class="form-control" readonly value="<%= id_usuario %>">
                    </div>
                    <div class="mb-3">
                        <label for="fechaActual" class="form-label">Fecha Actual</label>
                        <input type="text" id="fechaActual" name="fechaActual" class="form-control" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Cargar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Borrar Facturas-->
<div class="modal fade" id="modalBorrarFactura" tabindex="-1" aria-labelledby="modalBorrarFacturaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBorrarFacturaLabel">Borrar Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formBorrarFactura" action="/borrar-facturas" method="post">
                    <!-- Campo oculto para almacenar el ID de la factura -->
                    <input type="hidden" name="id" id="inputBorrarFacturaId" value="">
                    <div class="mb-3">
                        <label for="borrarFacturaWarning" class="form-label">¿Está seguro que desea borrar la factura?</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary btn-danger">Borrar Factura</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
    $('.borrar-factura').click(function(event) {
        event.preventDefault(); 
        var facturaId = $(this).data('id');
        $('#inputBorrarFacturaId').val(facturaId);
        $('#modalBorrarFactura').modal('show');
    });
    });
    $(document).ready(function() {
        $('.btnCargarFactura').click(function() {
        // Obtener el ID de la categoría asociada al botón "Seleccionar" clickeado
        var categoriaId = $(this).data('id');
        // Preseleccionar la categoría en el formulario de carga de facturas
        $('#categoria').val(categoriaId);
        var fechaInput = document.getElementById('fechaActual');
        // Obtener la fecha actual como un objeto de fecha
        var fechaActual = new Date();
        // Formatear la fecha actual como una cadena en el formato deseado 
        var fechaFormateada = fechaActual.getFullYear() + '-' +
                              ('0' + (fechaActual.getMonth() + 1)).slice(-2) + '-' +
                              ('0' + fechaActual.getDate()).slice(-2) + ' ' +
                              ('0' + fechaActual.getHours()).slice(-2) + ':' +
                              ('0' + fechaActual.getMinutes()).slice(-2) + ':' +
                              ('0' + fechaActual.getSeconds()).slice(-2);

        // Asignar la fecha formateada al campo de entrada de texto
        fechaInput.value = fechaFormateada;
        $('#modalCargarFactura').modal('show');
        });
    });
    $(document).ready(function() {
        // Función para filtrar las filas de la tabla según el estado seleccionado
        $('#selectEstado').change(function() { // Listener
            var estadoSeleccionado = $(this).val(); // Obtener el valor del estado seleccionado
            $('tbody tr').each(function() { // Selecciona cada elemento <tr> del tbody y each itera sobre cada elemento y ejecuta la funcion
                // Mostrar solo las filas cuyo estado coincida con el estado seleccionado, o todas si se selecciona "Todos"
                if (estadoSeleccionado === '' || $(this).find('td:eq(5)').text() === estadoSeleccionado) { // Si se selecciona 'Todos' o si se selecciona el valor correspondiente al sexto <td> o sea factura.estado, asigna con === estricto el texto del sexto <td>
                    $(this).show(); // Mostrar la fila si coincide
                } else {
                    $(this).hide(); // Ocultar la fila si no coincide
                }
            });
        });
    });
    $(document).ready(function() {
        // Función para filtrar categorías
        $('#filtroFactura').on('input', function() {
            var valor = $(this).val().toLowerCase(); // Obtener el valor del filtro y convertirlo a minúsculas
            $('tbody tr').filter(function() { // Filtrar las filas de la tabla
                $(this).toggle($(this).text().toLowerCase().indexOf(valor) > -1); // Mostrar u ocultar las filas según el valor del filtro
            });
        });
    });
    //BETA DE MENSAJES
//     window.onload = function() {
//     const urlParams = new URLSearchParams(window.location.search);
//     const successCargado = urlParams.get('success');
//     const successBorrado = urlParams.get('borrado');

//     if (successCargado === 'true') {
//         Swal.fire({
//             icon: 'success',
//             title: '¡Factura cargada correctamente!',
//             showConfirmButton: false,
//             timer: 2000
//         });
//     }

//     if (successBorrado === 'true') {
//         Swal.fire({
//             icon: 'success',
//             title: '¡Factura borrada correctamente!',
//             showConfirmButton: false,
//             timer: 2000
//         });
//     }
// };
    //código de prueba para los alerts + cookies
    window.onload = function() {
    const urlParams = new URLSearchParams(window.location.search);

    // Verificar si se ha cargado correctamente una factura
    const successCargado = urlParams.get('success');
    if (successCargado === 'true' && getCookie('alertaCargada') !== 'true') {
        setCookie('alertaCargada', 'true', 1); // Establecer cookie para evitar que se muestre nuevamente
        Swal.fire({
            icon: 'success',
            title: '¡Factura cargada correctamente!',
            showConfirmButton: false,
            timer: 2000
        });
    } else {
        // Eliminar cookie para permitir que se muestre la alerta en la próxima carga de página
        deleteCookie('alertaCargada');
    }

    // Verificar si se ha borrado correctamente una factura
    const successBorrado = urlParams.get('borrado');
    if (successBorrado === 'true' && getCookie('alertaBorrada') !== 'true') {
        setCookie('alertaBorrada', 'true', 1); // Establecer cookie para evitar que se muestre nuevamente
        Swal.fire({
            icon: 'success',
            title: '¡Factura borrada correctamente!',
            showConfirmButton: false,
            timer: 2000
        });
    } else {
        // Eliminar cookie para permitir que se muestre la alerta en la próxima carga de página
        deleteCookie('alertaBorrada');
    }
};

// Función para establecer una cookie
function setCookie(name, value, days) {
    var expires = '';
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = '; expires=' + date.toUTCString();
    }
    document.cookie = name + '=' + (value || '') + expires + '; path=/';
}

// Función para obtener el valor de una cookie
function getCookie(name) {
    var nameEQ = name + '=';
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

// Función para eliminar una cookie
function deleteCookie(name) {
    document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}
// $(document).ready(function() {
//     // Función para formatear el número con comas para separar los miles
//     function formatNumberWithCommas(number) {
//         // Divide el número en grupos de tres dígitos, luego agrega comas entre ellos
//         return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
//     }

//     // Itera sobre todos los elementos con la clase 'monto'
//     $('.monto').each(function() {
//         var monto = $(this).text(); // Obtén el texto del elemento
//         var montoFormateado = formatNumberWithCommas(monto); // Formatea el monto con comas
//         $(this).text(montoFormateado); // Establece el texto formateado en el elemento
//     });
// });
$(document).ready(function() {
        // Función para aplicar clases de color según el estado de la factura
        $('tbody tr').each(function() {
            var estado = $(this).find('td:eq(5)').text().trim().toLowerCase();
            var estadoTd = $(this).find('td:eq(5)');
            
            if (estado === 'aceptado') {
                estadoTd.addClass('estado-aceptado');
            } else if (estado === 'denegado') {
                estadoTd.addClass('estado-denegado');
            } else if (estado === 'en proceso') {
                estadoTd.addClass('estado-en-proceso');
            }
        });
    });
    $(document).ready(function(){
            $('#sidebarToggle').click(function(){
                $('#sidebar').toggleClass('hidden');
            });
        });

        //Script para cambiar entre el submenú minimizado y desplegado junto con la flecha ">" "v"
        document.addEventListener("DOMContentLoaded", function() {
            const toggleFacturas = document.getElementById("toggleFacturas");
            const submenuFacturas = document.getElementById("submenuFacturas");
            const arrowIcon = document.getElementById("arrowIcon");

            toggleFacturas.addEventListener("click", function() {
                if (submenuFacturas.style.display === "none") {
                    submenuFacturas.style.display = "block";
                    arrowIcon.textContent = "v";
                } else {
                    submenuFacturas.style.display = "none";
                    arrowIcon.textContent = ">";
                }
            });
        });
        document.addEventListener('DOMContentLoaded', () => {
    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebar = document.getElementById('sidebar');

    let isSidebarHovered = false;

sidebarToggle.addEventListener('click', () => {
    sidebar.classList.toggle('show');
});

sidebar.addEventListener('mouseenter', () => {
    isSidebarHovered = true;
});

sidebar.addEventListener('mouseleave', () => {
    isSidebarHovered = false;
    sidebar.classList.remove('show');
});

sidebarToggle.addEventListener('mouseenter', () => {
    isSidebarHovered = true;
    sidebar.classList.add('show');
});

sidebarToggle.addEventListener('mouseleave', () => {
    if (!isSidebarHovered) {
        sidebar.classList.remove('show');
    }
});
});
</script>
<script src="resources/js/jsformat.js"></script>
</body>
</html>
