<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>CATEGORIAS</title>
</head>
<body>
<h1>Cargar Fondos Disponibles</h1>
<div class="container">
    <a href="/" id="volver" class="btn btn-outline-primary mt-4"><i class="bx bxs-chevron-left bx-md"></i></a>
    <a href="#" id="btnAgregarFondo" class="btn btn-outline-primary mt-4" data-secretaria="<%= secretaria %>"><i class="bx bxs-plus-circle bx-md"></i></a>
    <% if(login) { %>
        <p><%= nombre %></p>
        <p><%= nombreSecretaria %></p>
        <% } %>
        <table class="table table-bordered table-striped text-center mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">CATEGORIA</th>
                    <th scope="col" style="display: none;">ID</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">FECHA CARGA</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: #127cc1;">
                    <td><strong>TOTAL</strong></td>
                    <td style="display: none;"></td>
                    <td id="totalMonto"></td>
                    <td></td>
                </tr>
                <% resultados.forEach(function(fondos) { %>
                <tr>
                    <td><%= fondos.nombre_fondo %></td>
                    <td style="display: none;"><%= fondos.id_fondo %></td>
                    <td><%= fondos.monto %></td>
                    <td><%= fondos.fecha_carga_formateada %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
</div>
<!-- Modal de Agregar Fondo-->
<div class="modal fade" id="modalAgregarFondo" tabindex="-1" aria-labelledby="modalAgregarFondoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarFondoLabel">Agregar Fondo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarFondo" action="/agregar-fondo" method="post">
                    <div class="mb-3">
                        <label for="nombreFondo" class="form-label">Nombre de Fondo</label>
                        <input type="text" class="form-control" id="nombreFondo" name="nombreFondo" required>
                    </div>
                    <div class="mb-3">
                        <label for="montoFondo" class="form-label">Monto</label>
                        <input type="text" class="form-control" id="montoFondo" name="montoFondo" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).ready(function() {
    $('#btnAgregarFondo').click(function() {
        $('#modalAgregarFondo').modal('show');
    });
     // Calcula el total de los montos y muestra en la fila "TOTAL"
     var totalMonto = 0;
    $('tbody').find('tr').each(function() {
        var monto = parseFloat($(this).find('td:eq(2)').text());
        if (!isNaN(monto)) {
            totalMonto += monto;
        }
    });
    $('#totalMonto').text(totalMonto.toFixed(2));
});
</script>
</body>
</html>
