<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="icon" href="img/UTN_logo_negro.png" type="image/png">
    <title>FONDOS DISPONIBLES</title>
</head>
<body>
    <p style="display: none;"><%= secretaria %></p>
    <div class="flex justify-center items-center py-4 shadow-md" style="background-image: linear-gradient(to right, #127cc1, #127cc1);">
        <div class="text-center">
            <h1 class="text-md font-bold mb-1 text-white">Fondos Semanales Disponibles. Crear, Editar, Borrar Fondos</h1>
            <h1 class="text-lg font-bold mb-1 text-white"><strong><%= nombre %></strong></h1>
            <h2 class="text-lg font-bold mb-4 text-white"><strong>Secretaria: <%= nombreSecretaria %></strong></h2>
        </div>
        <div class="absolute top-0 right-0 m-4">
            <img src="img/UTN_logo_negro.png" alt="Imagen" class="h-16 w-16 object-cover">
        </div>
    </div>
    <% if (login) { %>
        <% if(secretaria == 1){ %>
    <div class="flex min-h-screen">
        <!-- Botón para desplegar la sidebar en los celulares -->
        <button id="sidebarToggle" class="block md:hidden text-white py-2 px-4" style="background-image: linear-gradient(to bottom, #127cc1, #fff);">
            <span class="material-icons">menu</span>
        </button>
        
        <!-- Sidebar -->
        <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #fff);">
            <ul class="py-4">
                <li>
                    <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                    <a href="#" class="block py-2 px-4 text-white hover-links flex justify-between items-center" id="toggleFacturas">
                        <span>Facturas</span>
                        <span id="arrowIcon">></span>
                    </a>
                    <ul class="pl-4" id="submenuFacturas" style="display: none;">
                        <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Carga de Facturas</a></li>
                        <li><a href="/facturas-activas" class="block py-2 px-4 text-white hover-links">Facturas Activas</a></li>
                    </ul>
                </li>
                <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                <li><a href="/analiticas" class="block py-2 px-4 text-white hover-links">Aprobar/Rechazar Facturas</a></li>
                <li><a href="/fondos-categorias" class="block py-2 px-4 text-white hover-links">Cargar Fondos</a></li>
                <li><a href="/fondos-disponibles" class="block py-2 px-4 text-white hover-links">Fondos Disponibles</a></li>
                <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
            </ul>
        </nav>
        <% }else{ %>
            <div class="flex flex-col min-h-screen">
                <!-- Encabezados -->
                <p style="display: none;"><%= secretaria %></p>
                
                <!-- Contenedor principal -->
                <div class="flex min-h-screen">
                    <!-- Botón para desplegar la sidebar en los celulares -->
                    <button id="sidebarToggle" class="block md:hidden bg-blue-700 text-white py-2 px-4" style="background-image: #127cc1;">
                        <span class="material-icons">menu</span>
                    </button>
                    
                    <!-- Sidebar -->
                    <nav id="sidebar" class="bg-blue-700 w-64 flex-shrink-0 hidden md:block shadow-md" style="background-image: linear-gradient(to bottom, #127cc1, #FFFFFF);">
                        <ul class="py-4">
                            <li><a href="/categorias" class="block py-2 px-4 text-white hover-links">Categorías</a></li>
                            <li><a href="/facturas" class="block py-2 px-4 text-white hover-links">Facturas</a></li>
                            <li><a href="/ingresos" class="block py-2 px-4 text-white hover-links">Ingresos</a></li>
                            <li><a href="/logout" class="block py-2 px-4 text-white hover-links">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                <% } %>
                <div class="container">
                    <a href="/" id="volver" class="btn btn-outline-primary mt-4"><i class="bx bxs-chevron-left bx-md"></i></a>
                    <a href="#" id="btnAgregarFondo" class="btn btn-outline-primary mt-4" data-secretaria="<%= secretaria %>"><i class="bx bxs-plus-circle bx-md"></i></a>
                    <table class="table table-bordered table-striped text-center mt-4">
                        <thead>
                            <tr class="bgc-tr text-white">
                                <th scope="col">CATEGORIA</th>
                                <th scope="col" style="display: none;">ID</th>
                                <th scope="col">MONTO FUNDACIÓN PESO</th>
                                <th scope="col">MONTO FUNDACIÓN DOLAR</th>
                                <th scope="col">MONTO UNIVERSIDAD PESO</th>
                                <th scope="col">FECHA CARGA</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: #3789c092;">
                                <td><strong>TOTAL</strong></td>
                                <td style="display: none;"></td>
                                <td class="monto"><strong id="totalMontoFundacionPeso"></strong></td>
                                <td class="monto"><strong id="totalMontoFundacionDolar"></strong></td>
                                <td class="monto"><strong id="totalMontoUniversidadPeso"></strong></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <% resultadosFondos.forEach(function(fondos) { %>
                            <tr>
                                <td><%= fondos.nombre_categoria_fondo %></td>
                                <td style="display: none;"><%= fondos.id_fondo %></td>
                                <% if (fondos.destino === 'fundacion') { %>
                                    <td class="monto"><%= fondos.monto_peso %></td>
                                    <td class="monto"><%= fondos.monto_dolar %></td>
                                    <td class="monto"></td>
                                <% } else if (fondos.destino === 'universidad') { %>
                                    <td class="monto"></td>
                                    <td class="monto"></td>
                                    <td class="monto"><%= fondos.monto_peso %></td>
                                <% } %>
                                <td><%= fondos.fecha_carga_formateada %></td>
                                <td>
                                    <a href="#" class="btn btn-outline-info btnEditarFondo" data-id="<%= fondos.id_fondo %>" data-name="<%= fondos.nombre_categoria_fondo %>" data-destino="<%= fondos.destino %>" data-monto-peso="<%= fondos.monto_peso %>" data-monto-dolar="<%= fondos.monto_dolar %>">Editar</a>
                                    <a href="#" class="btn btn-outline-danger btnBorrarFondo" data-id="<%= fondos.id_fondo %>" data-name="<%= fondos.nombre_categoria_fondo %>">Borrar</a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
<%} else { %>
    <div class="flex justify-center items-center h-screen">
        <div class="text-center">
            <h1 class="text-3xl font-bold mb-4"><strong><%= nombre %></strong></h1>
            <a href="login" class="block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Ir a Inicio</a>
        </div>
    </div>
<% } %>
<!-- Modal de Agregar Fondo -->
<div class="modal fade" id="modalAgregarFondo" tabindex="-1" aria-labelledby="modalAgregarFondoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarFondoLabel">Agregar Fondo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formAgregarFondo" action="/cargar-fondo" method="post">
                    <div class="mb-3">
                        <label for="fondoCategoria" class="form-label">Fondo Categoría</label>
                        <select name="idCategoriaFondo" id="fondoCategoria" class="form-select">
                            <% resultadosCategorias.forEach((resCat) => { %>
                                <option value="<%= resCat.id_categoria_fondo %>" data-destino="<%= resCat.destino %>"><%= resCat.nombre_categoria_fondo %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="mb-3" id="montoPesosDiv">
                        <label for="montoPeso" class="form-label">Monto en Pesos</label>
                        <input type="number" step="any" class="form-control" id="montoPeso" name="montoPeso">
                    </div>
                    <div class="mb-3" id="montoDolarDiv" style="display: none;">
                        <label for="montoDolar" class="form-label">Monto en Dólares</label>
                        <input type="number" step="any" class="form-control" id="montoDolar" name="montoDolar">
                    </div>
                    <input type="hidden" id="destinoSelect" name="destinoSelect">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Editar Fondo -->
<div class="modal fade" id="modalEditarFondo" tabindex="-1" aria-labelledby="modalEditarFondoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarFondoLabel">Editar Fondo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarFondo" action="/editar-fondo" method="post">
                    <div class="mb-3">
                        <label for="editarFondoCategoria" class="form-label">Fondo Categoría</label>
                        <input type="text" class="form-control" id="editarFondoCategoria" name="editarFondoCategoria" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editarMontoFondo" class="form-label" id="editarMontoFondoLabel"></label>
                        <input type="number" step="any" class="form-control" id="editarMontoFondo" name="editarMontoFondo" required>
                    </div>
                    <input type="hidden" id="editarIdFondo" name="editarIdFondo">
                    <input type="hidden" id="editarDestino" name="editarDestino">
                    <input type="hidden" id="moneda" name="moneda">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmar Borrar -->
<div class="modal fade" id="modalConfirmarBorrar" tabindex="-1" aria-labelledby="modalConfirmarBorrarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmarBorrarLabel">Confirmar Borrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas borrar este fondo?</p>
                <p id="fondoBorrarNombre"></p>
            </div>
            <div class="modal-footer">
                <form id="formBorrarFondo" action="/borrar-fondo" method="post">
                    <input type="hidden" id="borrarIdCategoriaFondo" name="borrarIdCategoriaFondo">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        $('#btnAgregarFondo').click(function() {
            $('#modalAgregarFondo').modal('show');
        });

        // $('.btnEditarFondo').click(function() {
        //     var id = $(this).data('id');
        //     var name = $(this).data('name');
        //     var monto = $(this).data('monto');

        //     $('#editarIdCategoriaFondo').val(id);
        //     $('#editarFondoCategoria').val(name);
        //     $('#editarMontoFondo').val(monto);

        //     $('#modalEditarFondo').modal('show');
        // });

        $('.btnBorrarFondo').click(function() {
            var id = $(this).data('id');
            var name = $(this).data('name');

            $('#borrarIdCategoriaFondo').val(id);
            $('#fondoBorrarNombre').text(name);

            $('#modalConfirmarBorrar').modal('show');
        });

        // Calcula el total de los montos y muestra en la fila "TOTAL"
        var totalMonto = 0;
        $('tbody').find('tr').each(function() {
            var monto = parseFloat($(this).find('td:eq(2)').text());
            if (!isNaN(monto)) {
                totalMonto += monto;
            }
        });

        // Muestra el total sin formatear
        $('#totalMonto').text(totalMonto.toFixed(2));
    });
    $(document).ready(function(){
            $('#sidebarToggle').click(function(){
                $('#sidebar').toggleClass('hidden');
            });
        });

        //Script para cambiar entre el submenú minimizado y desplegado junto con la flecha ">" "v"
        document.addEventListener("DOMContentLoaded", function() {
            const toggleFacturas = document.getElementById("toggleFacturas");
            const submenuFacturas = document.getElementById("submenuFacturas");
            const arrowIcon = document.getElementById("arrowIcon");

            toggleFacturas.addEventListener("click", function() {
                if (submenuFacturas.style.display === "none") {
                    submenuFacturas.style.display = "block";
                    arrowIcon.textContent = "v";
                } else {
                    submenuFacturas.style.display = "none";
                    arrowIcon.textContent = ">";
                }
            });
        });
        document.addEventListener("DOMContentLoaded", function() {
                        function calculateTotals() {
                            let totalMontoFundacionPeso = 0;
                            let totalMontoFundacionDolar = 0;
                            let totalMontoUniversidadPeso = 0;
                            
                            document.querySelectorAll('tbody tr').forEach(function(row) {
                                const montoFundacionPeso = parseFloat(row.cells[2].innerText) || 0;
                                const montoFundacionDolar = parseFloat(row.cells[3].innerText) || 0;
                                const montoUniversidadPeso = parseFloat(row.cells[4].innerText) || 0;
                                
                                totalMontoFundacionPeso += montoFundacionPeso;
                                totalMontoFundacionDolar += montoFundacionDolar;
                                totalMontoUniversidadPeso += montoUniversidadPeso;
                            });
                            
                            document.getElementById('totalMontoFundacionPeso').innerText = totalMontoFundacionPeso.toFixed(2);
                            document.getElementById('totalMontoFundacionDolar').innerText = totalMontoFundacionDolar.toFixed(2);
                            document.getElementById('totalMontoUniversidadPeso').innerText = totalMontoUniversidadPeso.toFixed(2);
                        }
                        
                        calculateTotals();
});
document.addEventListener("DOMContentLoaded", function() {
    const fondoCategoriaSelect = document.getElementById("fondoCategoria");
    const montoPesosDiv = document.getElementById("montoPesosDiv");
    const montoDolarDiv = document.getElementById("montoDolarDiv");
    const montoPesoInput = document.getElementById("montoPeso");
    const montoDolarInput = document.getElementById("montoDolar");
    const destinoSelectInput = document.getElementById("destinoSelect");

    fondoCategoriaSelect.addEventListener("change", function() {
        const selectedOption = fondoCategoriaSelect.options[fondoCategoriaSelect.selectedIndex];
        const destino = selectedOption.getAttribute("data-destino");

        destinoSelectInput.value = destino;

        if (destino === "universidad") {
            montoPesosDiv.style.display = "block";
            montoDolarDiv.style.display = "none";
            montoDolarInput.value = ""; // Limpiar campo de dólares
            montoPesoInput.disabled = false;
        } else if (destino === "fundacion") {
            montoPesosDiv.style.display = "block";
            montoDolarDiv.style.display = "block";
            montoPesoInput.disabled = false;
            montoDolarInput.disabled = false;
        }
    });

    montoPesoInput.addEventListener("input", function() {
        if (montoPesoInput.value !== "") {
            montoDolarInput.disabled = true;
        } else {
            montoDolarInput.disabled = false;
        }
    });

    montoDolarInput.addEventListener("input", function() {
        if (montoDolarInput.value !== "") {
            montoPesoInput.disabled = true;
        } else {
            montoPesoInput.disabled = false;
        }
    });
});
document.addEventListener('DOMContentLoaded', function () {
        const btnsEditarFondo = document.querySelectorAll('.btnEditarFondo');
        const modalEditarFondo = new bootstrap.Modal(document.getElementById('modalEditarFondo'));
        const editarFondoCategoria = document.getElementById('editarFondoCategoria');
        const editarMontoFondoLabel = document.getElementById('editarMontoFondoLabel');
        const editarMontoFondo = document.getElementById('editarMontoFondo');
        const editarIdFondo = document.getElementById('editarIdFondo');
        const editarDestino = document.getElementById('editarDestino');
        const moneda = document.getElementById('moneda');

        btnsEditarFondo.forEach(btn => {
            btn.addEventListener('click', function () {
                const idFondo = this.getAttribute('data-id');
                const name = this.getAttribute('data-name');
                const destino = this.getAttribute('data-destino');
                const montoPeso = this.getAttribute('data-monto-peso');
                const montoDolar = this.getAttribute('data-monto-dolar');

                editarFondoCategoria.value = name;
                editarIdFondo.value = idFondo;
                editarDestino.value = destino;

                if (destino === 'universidad') {
                    editarMontoFondoLabel.textContent = 'Universidad - Monto en Pesos';
                    editarMontoFondo.value = montoPeso;
                    editarMontoFondo.style.display = 'block';
                } else if (destino === 'fundacion') {
                    editarMontoFondoLabel.textContent = montoPeso ? 'Fundación - Monto en Pesos' : 'Fundación - Monto en Dólares';
                    moneda.value = montoPeso ? 'PESO' : 'DOLAR';
                    editarMontoFondo.value = montoPeso || montoDolar;
                    editarMontoFondo.style.display = 'block';
                    
                }

                modalEditarFondo.show();
            });
        });
    });
    document.addEventListener('DOMContentLoaded', () => {
    const sidebarToggle = document.getElementById('sidebarToggle');
    const sidebar = document.getElementById('sidebar');

    let isSidebarHovered = false;

sidebarToggle.addEventListener('click', () => {
    sidebar.classList.toggle('show');
});

sidebar.addEventListener('mouseenter', () => {
    isSidebarHovered = true;
});

sidebar.addEventListener('mouseleave', () => {
    isSidebarHovered = false;
    sidebar.classList.remove('show');
});

sidebarToggle.addEventListener('mouseenter', () => {
    isSidebarHovered = true;
    sidebar.classList.add('show');
});

sidebarToggle.addEventListener('mouseleave', () => {
    if (!isSidebarHovered) {
        sidebar.classList.remove('show');
    }
});
});
</script>
<script src="resources/js/jsformat.js"></script>
</body>
</html>
