<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body>
    <h1>Bienvenido</h1>
    <% if (login) { %>
        <% if(secretaria == 1){ %>
        <h1>El administrador conectado es: <strong><%= nombre %> con id <strong><%= id_usuario %></strong></strong></h1>
        <p style="display: none;"><%= secretaria %></p>
        <a href="/logout" class="a-logout">Cerrar Sesión</a>
        <a href="/categorias" class="a-logout">Categorías</a>
        <a href="/facturas" class="a-logout">Facturas</a>
        <a href="/ingresos" class="a-logout">Ingresos</a>
        <a href="/analiticas" class="a-logout">Aprobar/Rechazar Egresos</a>
        <% }else{ %>
            <h1>El usuario conectado es: <strong><%= nombre %></strong></h1>
            <p style="display: none;"><%= secretaria %></p>
            <a href="/logout" class="a-logout">Cerrar Sesión</a>
            <a href="/categorias" class="a-logout">Categorías</a>
            <a href="/ingresos" class="a-logout">Ingresos</a>
            <a href="/facturas" class="a-logout">Facturas</a>
       <% } %>
    <%} else { %>
        <h1><strong><%= nombre %></strong></h1>
        <a href="login" class="a-login">Ir a Inicio</a>
    <% } %>  
</body>
</html>
</html>